In [29]:
#Importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression # entrenar el modelo
from sklearn.model_selection import train_test_split  # dividir los datos
from sklearn import metrics  #metricas de evaluacion

In [3]:
data_car = pd.read_csv("/content/car data.csv")
data_car

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
data_car.shape

(301, 9)

In [5]:
data_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
#Veamos si hay valores nulos
data_car.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
# Separamos las entradas X y el target y
X = data_car.drop(["Car_Name", "Selling_Price"] , axis=1)
Y = data_car["Selling_Price"]

X

     Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0    2014           5.59       27000    Petrol      Dealer       Manual      0
1    2013           9.54       43000    Diesel      Dealer       Manual      0
2    2017           9.85        6900    Petrol      Dealer       Manual      0
3    2011           4.15        5200    Petrol      Dealer       Manual      0
4    2014           6.87       42450    Diesel      Dealer       Manual      0
..    ...            ...         ...       ...         ...          ...    ...
296  2016          11.60       33988    Diesel      Dealer       Manual      0
297  2015           5.90       60000    Petrol      Dealer       Manual      0
298  2009          11.00       87934    Petrol      Dealer       Manual      0
299  2017          12.50        9000    Diesel      Dealer       Manual      0
300  2016           5.90        5464    Petrol      Dealer       Manual      0

[301 rows x 7 columns]

##Reemplazamos los datos categÃ³ricos por valores numÃ©ricos

In [8]:
print(X["Fuel_Type"].value_counts())

print(X["Seller_Type"].value_counts())

print(X["Transmission"].value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64
Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [18]:
#Reemplazo de valores

X_input = X.replace(    { "Fuel_Type" : {"Petrol": 0 , "Diesel" : 1, "CNG" : 2} ,
                "Seller_Type" : {"Dealer" : 0 , "Individual": 1  },
                "Transmission" :{"Manual": 0 , "Automatic": 1}
               } )

In [19]:
X_input

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,5.59,27000,0,0,0,0
1,2013,9.54,43000,1,0,0,0
2,2017,9.85,6900,0,0,0,0
3,2011,4.15,5200,0,0,0,0
4,2014,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...
296,2016,11.60,33988,1,0,0,0
297,2015,5.90,60000,0,0,0,0
298,2009,11.00,87934,0,0,0,0
299,2017,12.50,9000,1,0,0,0
300,2016,5.90,5464,0,0,0,0

## Dividir el SET  de datos en TRAIN  y TEST

In [20]:
X_train , X_test , y_train , y_test = train_test_split(X_input, Y , test_size = 0.2)

## Entrenamos el modelo

In [21]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train , y_train)

LinearRegression()

In [24]:
# prediccion con los datos de entrenamiento
y_pred = regressor.predict(X_test)

## Creamos un tabla con los resutados reales y predichos

In [25]:
tabla = pd.DataFrame({"Valores Reales" : y_test , "Valores Predichos": y_pred})
tabla

     Valores Reales  Valores Predichos
84             3.49           2.773676
178            0.35           1.934734
143            0.60           1.374384
283            8.99           7.722175
72             7.45           8.949879
..              ...                ...
128            0.80           2.108856
191            0.20          -0.742395
223            8.25           6.637697
217            3.15           4.317597
186            0.25           0.595983

[61 rows x 2 columns]

In [30]:
from sklearn  import metrics
error = metrics.mean_squared_error(y_test, y_pred)
print("El error cuadrÃ¡tico medio" , np.sqrt(error))

El error cuadrÃ¡tico medio 2.087538835174044

CONCLUIDO